[Unit]
Description=s-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/s-ui/
ExecStart=/usr/local/s-ui/sui
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576
Nice=-10
IOSchedulingClass=best-effort
IOSchedulingPriority=2
CPUSchedulingPolicy=other
CPUSchedulingPriority=0
CPUQuota=98%
NoNewPrivileges=true
LimitCORE=0

[Install]
WantedBy=multi-user.target
