name: Sing-box Docker Image CI
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get latest release
      id: get_release
      run: |
        latest_release=$(curl -Ls "https://api.github.com/repos/sagernet/sing-box/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
        echo "latest_release: $latest_release"
        echo "latest_release=$latest_release" >> $GITHUB_OUTPUT
   
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          alireza7/s-ui-singbox
          ghcr.io/alireza0/s-ui-singbox
        tags: |
          type=sha
          type=pep440,pattern=${{ steps.get_release.outputs.latest_release }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: core/
        push: true
        build-args: SINGBOX_VER=${{ steps.get_release.outputs.latest_release }}
        platforms: linux/amd64,linux/arm64/v8,linux/arm/v7,linux/386
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}